@import "foundation/all";

.ui-button-container {
  display: flex;
  justify-content: center;
  background: $btn-primary-bg;
  color: $btn-primary-color;
  border: none;
  padding: map-get($spacing, 'xxxs');
}